@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
*{
    margin: 0;
    padding: 0;
    font-family: "inter";
}




                                /* ----------------SHARED STYLE------------- */



.btn-primary{
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    cursor: pointer;
    background-color: #6b6b6b;
}
.dark{
    color: #797979;
}
.p-res{
    line-height: 24px;
}


                                /* ----------------NAVBAR STYLE------------- */


header{
    background: url(../images/header-bg.png);
    background-position: center;
    background-size: cover;
}
.navbar{
    display: flex;
    justify-content: space-around;
    gap: 10rem;
    align-items: center;
    padding: 2rem 0;
}



.menu i{
    color: white;
    padding: 1rem;
    font-size: 2rem;
}
.menu{
    display: none;
}

.navbar .logo h3{
    color: #E6533C;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
}
.navbar .nav-item{
    display: flex;
    justify-content: space-between;
    list-style: none;
    border-radius: 60px;
    text-align: center;
    align-items: center;
    padding: 0;
    border: 1px solid #505050;
}
.nav-item li a{
    text-decoration: none;
    color: #ffffff;
    padding: .5rem 2rem;
}
.nav-item a{
    padding: 1rem 2rem;
    border-radius: 50px;
    text-decoration: none;
    color: #ffffff;
}
.nav-item a:hover{
    background-color: #E6533C;
}




                                /* ----------------CONTAINER STYLE------------- */



header .container{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding: 0 6rem;
    height: 600px;
}


.container .title h1{
    color: #ffffff;
    font-size: 5rem;
    font-weight: bolder;
    line-height: 5rem;
}
.container .title{
    width: 50%;
    padding: 5rem 0 0 0;
}
.title .btn button{
    font-size: 1.2rem;
    padding: 1rem 3.5rem;
    border-radius: 50px;
}
.title h1 span{
    font-family: 'Miama', sans-serif;
    position: relative;
    font-size: 8rem;
    font-weight: 400;
}

.title p{
    padding: 1rem 4rem 1rem 0;
    color: #797979;
    font-weight: 400;
}
.btn{
    display: flex;
    gap: 1rem;
}
.btn1{
    background-color: #E6533C;
}
.btn2{
    background-color: #222222;
    border: 1px solid #ffffff;
}
.container .image{
    position: relative;
}
.container .image .card{
    position: absolute;
    width: 180px;
    height: 80px;
    text-align: left;
    border-radius: 10px;
    align-items: center;
    position: relative;
    padding: 1rem;
}

.container .image .one{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    padding: 1rem;
    height: auto;
    top: -85%;
    left: 60%;
}
.container .image .two{
    background-color: rgba(37, 37, 37, 0.5);
    backdrop-filter: blur(4px);
    display: flex;
    gap: 1rem;
    top: -50%;
    left: -30%;
    padding: .5rem 1rem;
}
.card h3{
    font-size: 2.3rem;
    color: #ffffff;
}
.card p{
    color: #acacac;
    padding: 0;
}

.image .two i{
    color: #E6533C;
    font-size: 40px;
    border-radius: 80px;
}



                                /* ----------------BANNER-1 STYLE------------- */


body{
    background: black;
}


.banner-1{
    text-align: center;
    padding: 3rem 2rem;
}
.banner-1 h3{
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 1rem;
}
.banner-1 .card-2{
    display: flex;
    text-align: center;
    padding: 2rem;
    gap: 1rem;

}
.card-2 img{
    border-radius: 50%;
    border: 5px solid #3a3a3a;
}
.banner-1 .card-2 h4,p{
    color: #ffffff;
    padding-top: 1rem;
}


                                /* ----------------BANNER-2 STYLE------------- */


.banner-2{
    display: flex;
    justify-content: space-around;
    background-color: #a2a2a233;
    backdrop-filter: blur(4px);
    margin: 2rem 5rem;
    padding: 2rem 3rem;
    align-items: center;
    gap: 2rem;
    position: relative;
    border-radius: 20px;
}


.banner-2-content{
    height: auto;
    padding-right: 8rem;
    align-items: center;
}
.banner-2-content h3{
    padding-right: 4rem;
    font-size: 4rem;
    color: #ffffff;
}
.banner-2-content p{
    padding: 1rem 0;
}
.banner-2-content .b2btn{
    padding: 1rem 4rem;
    border-radius: 50px;
    background-color: #E6533C;
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 2rem;
}
.banner-2 .banner_2{
    width: 40%;
    height: 400px;
}
.banner-2-image{
    background-image: url(../images/run.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

                                /* ----------------BANNER-3 STYLE------------- */

.banner-3{
    padding: 5rem;
}
.banner-3 .banner-3-content{
    text-align: left;
    padding: 1rem;
}
.banner-3-content h3{
    font-size: 3rem;
    color: white;
}
.banner-3-content p{
    padding: 1rem;
}
.banner-3 img{
    width: 100%;
    height: 250px;
    filter: brightness(70%);
}
.banner-3 .grid-1{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
}

.grid-1 .cart{
    position: relative;
}
.grid-2 .cart{
    position: relative;
}
                                /* ----------------EXCERCISE STYLE------------- */

.grid-1 .ex-1{
    background: url(../images/exercise1.jpg);
    background-position: center;
    background-size: cover;
}
.grid-1 .ex-2{
    background: url(../images/exercise2.png);
    background-position: center;
    background-size: cover;
}

.grid-2 .ex-5{
    background: url(../images/exercise5.jpg);
    background-position: center;
    background-size: cover;
}
.grid-2 .ex-6{
    background: url(../images/exercise6.jpg);
    background-position: center;
    background-size: cover;
}



.banner-3 .grid-1 .display-none{
    display: none;
}



                                /* ----------------OVERFLOW STYLE------------- */



.grid-1 .ex-1-overflow{
    width: 100%;
    height: 100%;
    background-color: rgba(6, 255, 210, 0.4);
}
.grid-1 .ex-2-overflow{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 0, 0, 0.3);
}

.grid-2 .ex-5-overflow{
    width: 100%;
    height: 100%;
    background-color: rgb(66, 255, 0, 0.2);
}
.grid-2 .ex-6-overflow{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 71, 255, 0.3);
}


.ex{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
}
.grid-2 .cart{
    position: relative;
}
.grid-2{
    display: grid;
    grid-template-columns: 1.4fr .9fr 1fr;
}

                                /* ----------------BANNER-4 STYLE------------- */

.banner-4{
    text-align: left;
    align-items: center;
    width: auto;
}
.banner-4-content {
    padding: 80px 380px;
    color: #ffffff;
    text-align: left;
}
.banner-4 .grid{
    display: flex;
    justify-content: space-around;
    background-color: #222222;
    gap: 5rem;
    padding: 4rem;
}

.banner-4-content h3{
    font-size: 48px;
}
.chart h4{
    color: white;
}
.chart{
    width: 100%;
}
.banner-4 .calculator .chart table{ 
    width: 100%;
    border-collapse: collapse;
}
.chart table tr td{
    border: 1px solid rgb(75, 75, 75);
    color: white;
    padding: 1rem 3rem 1rem 1rem;
}
.chart table .thead td{
    color: white;
}
.chart table tr td{
    color: #797979;
}


                                /* ----------------INPUT STYLE------------- */

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
  }
  .form-container input,
  .form-container select {
    padding: 10px;
    background-color: #333; 
    color: #fff; 
    border: none;
    border-radius: 5px;
  }
  .form-container select {
    appearance: none; 
    box-sizing: border-box;
    color: #797979;
  }
  .form-container select option{
    color: #797979;
  }
  .form-container select:nth-child(5) {
    grid-column: span 2; 
  }
                                               

.box h4{
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem 0;
}

.box p{
    padding: 1rem 0;
    
}

.chart h4{
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem 0;
}

.banner-4 .grid button{
    padding: 1rem 4rem;
    background-color: #E6533C;
    margin-top: 2rem;
}



                                /* ----------------BANNER-5 STYLE------------- */


.banner-5{
    color: #ffffff;
    text-align: center;
    padding: 4rem 0;
}
.banner-5 .b5-title{
    font-size: 3rem;
    font-weight: 900;
}
.banner-5_image{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(255, 255, 255, 10%);
    margin: 2rem 6rem;
    padding: 1rem;
    border-radius: 20px;
    text-align: left;
}
.banner-5_image .bor{
    border-radius: 10px;
}
.banner-5_image .image-item-1{
    background: url(../images/trainer1.png);
    background-position: center;
    background-size: cover;
}
.banner-5_image .image-item-2{
    background-image: url(../images/trainer2.png);
    background-position: center;
    background-size: cover;
}
.banner-5_image .image-item-3{
    background-image: url(../images/trainer3.png);
    background-position: center;
    background-size: cover;
}
.banner-5_image .image-item-4{
    background-image: url(../images/trainer4.png);
    background-position: center;
    background-size: cover;
}
.banner-5_image .image-item-5{
    background-image: url(../images/trainer5.png);
    background-position: center;
    background-size: cover;
}
.banner-5_image .image-item-6{
    background-image: url(../images/trainer6.png);
    background-position: center;
    background-size: cover;
}
.banner-5_image .trainer{
    max-width: 280px;
    height: 300px;
    text-align: bottom;
    position: relative;
}
.banner-5_image .trainer h4{
    font-size: 20px;
}
.banner-5_image .trainer .b5{
    position: absolute;
    top: 230px;
    left: 20px;
}



                                /* ----------------FOOTER STYLE------------- */


footer{
    background-color: #222222;
    padding: 2rem;
    /* text-align: center; */
}
footer hr{
    margin: 2rem 10rem;
}
footer .copyright{
    text-align: center;
}
.footer{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding-bottom: 2rem;
    margin: 5rem 8rem 2rem 8rem;
    border-bottom: 1px solid #797979;
}
footer p{
    color: #797979;
}
.futer{
    display: flex;
    gap: 3rem;
}
.foter{
    width: 40%;
}
footer h2{
    font-size: 3rem;
    color: #E6533C;
    font-style: italic;
}
.footer-title{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer-title h4{
    font-size: 2rem;
    color: #ffffff;
}
.footer-title a{
    text-decoration: none;
    color: #979797;
}













                 /*----------------- Responsive Layout media query ------------------ */



@media screen and (max-width: 576px) {


    .menu{
        display: block;
    }
    .menu i{
        font-size: 1rem;
    }
    .navbar{
        width: 100%;
        justify-content: space-around;
        gap: 7.8rem;
        padding: 2rem 0;
    }
    .navbar .logo h3{
        font-size: 2rem;
    }
    .navbar .nav-item{
        display: none;
    }
    header .container{
        flex-direction: column;
        gap: 2rem;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        align-items: center;
    }
    header{
        margin: 0;
        padding: 0;
    }
                        /* --container title-- */
    .container .title{
        width: auto;
        align-items: center;
        padding: 1rem;
        margin: 0;
    }
    .container .title p{
        padding: 1rem 0;
        padding-bottom: 10px;
        margin: 0;
    }
    .container .title h1{
        padding: 0;
        line-height: 50px;
        font-size: 3rem;
    }
    .title h1 span{
        font-size: 5rem;
        font-weight: normal;
    }
    .container .title .btn{
        gap: .5rem;
    }
    .container .title .btn button{
        font-size: .8rem;
        padding: .8rem 1.4rem ;
    }

                    /*-------container image----- */
    .container .image{
        /* position: relative; */
        width: 100%;
        height: 100%;
    }
    .container .image img{
        width: 80vw;
        margin-left: 2rem;
    }
    .container .image .card{
        /* border-radius: 15px; */
        position: absolute;
        width: 120px;
        height: 70px;
        padding: 0;
        top: 0;
        left: 0;
    }

    .container .image .card h3{
        font-size: 25px;
        /* padding-bottom: 2px; */
    }
    .container .image .one{
        height: auto;
        padding: 1rem;
        margin: 0;
        left: 200px;
        top: 60px;
    }
    
    .container .image .card p{
        font-size: 10px;
        padding: 0;
        margin: 0;
    }
    .container .image .two{
        gap: 10px;
        padding: 0 1rem;
        align-items: center;

        top: 220px;
        left: 20px;
    }
    .container .image .two i{
        font-size: 30px;
    }
    .card-2{
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    
    
    /* header .container{
        height: 100%;
    } */
    
                                /*-----Banner-1 style---- */

    .banner-1 {
        padding: 0 2rem 2rem;
    }
    .banner-1 .card-2{
        padding: 0;
    }
    .banner-1 .card-2 p{
        padding: .5rem 0 0 0;
    }
    .banner-1 h3{
        font-size: 2rem;
    }
                                        /* -------Banner-2 style------ */


    .banner-2{
        flex-direction: column;
        margin: 1rem;
        align-items: center;
        text-align: left;
        gap: 2rem;
        padding: 1.2rem;
    }
    .banner-2 .banner_2{
        width: 100%;
        height: 270px;
    }
    .banner-2 .banner-2-content{
        padding: 0;
        margin: 0;
    }
    .banner-2 .banner-2-content button{
        margin: 0;
        font-size: 1rem;
        padding: .8rem 4rem;
    }
    .banner-2-content h3{
        font-size: 2rem;
        font-weight: 700;
        padding: 0;
    }
    
                                        /* ------Banner-3 style----- */


    .banner-3{
        padding: 1rem;
        margin: 0;
    }
    .banner-3 .banner-3-content{
        padding: 1rem 0;
    }
    .banner-3-content h3{
        font-size: 2rem;
        padding-bottom: 1rem;
    }
    .banner-3-content p{
        padding: 1rem 0;
    }
    .none{
        display: none;
    }
    .banner-3 .grid-1 .display-none{
        display: block;
    }

    .banner-3 .grid-1{
        grid-template-columns: 1fr 1fr;
        margin: 0;
        padding: 0;
    }
    .banner-3 .grid-2{
        grid-template-columns: 1fr 1fr;
        padding: 0;
        margin: 0;
    }
    .banner-3 img{
        height: auto;
        width: 100%;
    }
    .ex{
        font-size: 12px;
        font-weight: normal;
        color: #aeaeae;
    }
    .grid-1 img, .grid-2 img{
        height: 130px;
    }


                                        /* ---------Banner-4 style-------- */


    .banner-4 .box-a{
        max-width: 100%;
        height: auto;
    }
    .banner-4-content{
        padding: 1rem;
    }
    .banner-4-content h3{
        font-size: 2rem;
    }
    .chart h4{
        font-size: 1.2rem;
        padding: 1rem 0;
    }
    
    .banner-4 .grid {
        flex-direction: column;
        gap: 1rem;
        padding: 2rem 1rem;
    }
    .chart table tr td{
        padding: 1rem .6rem;
    }
    .form-container {
        grid-template-columns: 1fr 1fr; 
        width: 100%;
        height: auto;
    }
    .form-container input {
        max-width: 38vw;
        height: auto;
    }
    .form-container select{
        max-width: 43vw;
        height: auto;
    }
    
    .form-container select:nth-child(5) {
        grid-column: span 2; 
        max-width: 91vw;
    }
    .banner-4 .input-box .baton{
        margin-left: 20px;
        align-items: center;
    }
    .box h4{
        font-size: 1.2rem;
        padding: 1rem 0;
    }


                                        /* ------Banner-5 style------ */



    /* banner-5 responsive */
    .banner-5{
        margin: 0;
        padding: 0;
    }
    .banner-5_image{
        display: flex;
        gap: 2rem;
        flex-direction: column;
        padding: 2rem 0;
        width: 100%;
        margin: 0;
        align-items: center;
    }
    .banner-5_image .bor{
        width: 320px;
        height: auto;
     
    }
    
    .banner-5 .b5-title{
        font-size: 2rem;
        padding: 2rem 0 0 0;
    }
    
    
                                                /* --------Footer style------- */


    .footer{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        padding-bottom: 2rem;
    }
    .footer-title{
        width: 100%;
        gap: 1rem;
    }
    .futer{
        flex-direction: column;
        gap: 2rem;
    }
    .footer-title h4{
        font-size: 1.5rem;
    }
    .footer-title a{
        color: #aeaeae;
    }
    







                        /* ----------------SHARED STYLE-------------- */

    .p-res{
        font-size: .8rem;
        line-height: 24px;
        padding: 1rem 0;
    }
}

@media screen and (max-width: 320px){
    .container .image .one{
        width: 100px;
        left: 55%;
    }
    .container .image .two{
        padding: .3rem 1rem;
    }
    .banner-1 h3{
        font-size: 1.6rem;
        padding: 0;
    }
    .banner-4 .box{
        width: 85vw;
    }
    .chart table{
        width: 85vw;
    }
    .banner-5_image .bor{
        width: 90vw;
    }
}
@media screen and (min-width: 320px) and (max-width: 375px) {

    .container .image .one{
        left: 55%;
        padding: 1rem;
    }
    .container .image .two{
        top: 45%;
        padding: .3rem 1rem;
    }

    .banner-4 .box{
        width: 80vw;
    }
    .chart table{
        width: 85vw;
    }
    .banner-5_image .bor{
        width: 90vw;
    }
    
}

@media screen and (min-width: 376px) and (max-width: 425px) {
    .container .image .one{
        width: 120px;
        height: auto;
        padding: 1.2rem;
        margin: 0;
        left: 220px;
        top: 60px;
    }
    .container .image .two{
        padding: .3rem 1.4rem;
        top: 45%;
    }
                                    /* ----------------BANNER-4 STYLE------------- */

    .banner-4 .box{
        width: 80vw;
    }
    
                                    /* ---------------BANNER-5 STYLE--------------- */

    .banner-5_image .bor{
        width: 90vw;
    } 

}







@media screen and (min-width: 576px) and (max-width: 768px) {


                                    /* ----------------------Navbar style-------------------- */


    .navbar{
        width: 100%;
    }

    .navbar .logo h3{
        font-size: 2rem;
    }
    .navbar .nav-item{
        max-width: 450px;
        height: auto;
    }
    .nav-item a{
        padding: .5rem 1rem;
    }


                            /* ---------------Container style-------------- */

    header .container{
        flex-direction: column;
        height: 100%;
        align-items: center;
        padding: 2rem 0;
    }
    .container .title{
        width: 80%;
        padding: 2rem 0 2rem 0;
    }
    .title h1{
        font-size: 78px;
    }
    .title .btn button{
        padding: 1rem 3rem;
        font-weight: 600;
        border-radius: 50px;
        word-spacing: 3px;
    }
    .container .title span{
        font-size: 120px;
        font-weight: normal;
    }
    .container .image{
        position: relative;
    }
    .container .image .card{
        position: absolute;
        height: auto;
    }
    .container .image .one{
        width: 180px;
        top: 0%;
        left: 60%;
        padding: 1.3rem;
        border-radius: 10px;
    }
    .container .image .two{
        padding: 1.3rem;
        border-radius: 10px;
        left: -50px;
        top: 380px;
    }
    .container .image img{
        align-items: center;
        width: 50vw;
    }

                                    /* ----------------BANNER-1 STYLE------------- */



    .banner-1 .card-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }



                                    /* ----------------BANNER-2 STYLE------------- */


    .banner-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem 2rem;
        margin: 0 2rem;
        gap: 2rem;
    }
    .banner-2-content{
        padding: 0;
    }
    .banner-2-content .b2btn{
        margin: 0;
        font-size: 1rem;
    }
    .banner-2-content h3{
        font-size: 2.5rem;
        padding: 0;
    }
    .banner-2 .banner_2{
        width: 100%;
        height: 320px;
        border-radius: 10px;
    }



                                    /* ----------------BANNER-4 STYLE------------- */
      
    .banner-4-content{
        padding: 1rem;
    }
    .banner-4 .grid{
        display: flex;
        gap: 2rem;
        /* flex-direction: column; */
        padding: 1rem;
        height: 100%;
    }
    .box-a{
        width: 50%;
    }
    .chart{
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .chart table{
        width: 50vw;
    }
    .box{
        width: 50vw;
    }
    .chart h4{
        font-size: 1.5rem;
        padding: 1rem 0;
    }
    .box h4{
        font-size: 1.5rem;
        padding: 1rem 0;
    }
    .chart table .thead td{
        font-size: 15px;
        padding: 1rem .5rem;
    }
    .chart table tr td{
        font-size: 15px;
        padding: 1rem .5rem;
    }
    




                                    /* ----------------BANNER-5 STYLE------------- */



    .banner-5 .banner-5-title .b5-descrip{
        padding: 1rem;
    }
    .banner-5_image{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 2rem 3rem;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }
    .banner-5_image .image-item img{
        width: 450px;
        height: 350px;
    }
    .banner-5 .bor{
        width: 100%;
    }

    



                                    /* ----------------FOOTER STYLE------------- */



    .footer{
        flex-direction: column;
        gap: 1rem;
        margin: 1rem 2rem;
    }
    .footer .footer-title{
        width: 100%;
        gap: 1rem;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {


                                    /* ----------------Container STYLE------------- */


    header .container{
        padding: 0 3rem;
        gap: 2rem;
    }
    .container .title h1{
        font-size: 4.5rem;
    }
    .container .btn button{
        font-size: 1rem;
        padding: 1rem 2rem;
    }
    .container .image .one{
        width: 160px;
        top: -88%;
        left: 55%;
    }
    .container .image .two{
        top: -40%;
        left: -30%;
        padding: .8rem 1rem;
    }



                                    /* ----------------BANNER-2 STYLE------------- */

    .banner-2-content h3{
        padding: 0;
        font-size: 3rem;
    }
    .banner-2-content{
        padding: 0;
    }
    .banner-2-content .b2btn{
        margin: 0;
        font-size: 1rem;
    }

    .banner-2 .banner_2{
        width: 60%;
        height: 300px;
    }


    .banner-3{
        padding: 4rem;
    }


                                    /* ----------------BANNER-4 STYLE------------- */


    .banner-4 .grid{
        flex-direction: column;
        gap: 2rem;
        /* align-items: center; */
        padding: 2rem 4rem;
    }
    .banner-4 .grid .box-a{
        /* width: 50%; */
        height: auto;
    }
    .banner-4-content{
        padding: 4rem ;
    }
    .banner-4 .chart{
        width: 50%;
    }
    /* .chart h4{
        width: 50vw;
    }
    .chart table{
        width: 40vw;
    } */
    .chart table tr td{
        padding: 1rem;
    }
    /* .banner-4 .box{
        width: 50%;
    } */

                                    /* ---------BANNER-5 STYLE-------- */


    .banner-5_image{
        margin: 2rem 4rem;
    }
    .banner-5 .bor{
        width: 100%;
    }


                                    /* ----------------footer STYLE------------- */

    .footer{
        margin: 2rem 4rem;
        gap: 2rem;
    }
    .footer .footer-title{
        gap: 1rem;
        text-align: left;
    }
    .footer-title h4{
        font-size: 1.5rem;
    }
    .futer{
        gap: 4rem;
    }
    
}